
html {
  overflow: hidden;
}

body {
  background: #f5f7fa;
  color: #4a4a4a;
  overflow: auto;
  padding: 0;
  margin: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.schedule--wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  .team {
    background: lightseagreen;
    color: white;
  }
  .bye {
    background: darkslateblue;
    color: white;
  }
}

.schedule--row {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  >div {
    text-align: center;
  }
}